.transactionHistory {
  width: 360px;
  margin-top: 20px;
}

.transactionHistory td,
.transactionHistory th {
  border-collapse: collapse;
  padding: 15px;
}

tr {
  background-color: rgba(177, 178, 180, 0.525);
  color: #000;
}

thead {
  background-color: #48c1ed;
}
